mysqldump.exe : mysqldump: [Warning] Using a password on the command line 
interface can be insecure.
En línea: 1 Carácter: 120
+ ... ldump.exe"; & $mysql -u root -padmin --no-tablespaces 
--skip-add-drop ...
+                 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (mysqldump: [War...an be insec 
   ure.:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
-- MySQL dump 10.13  Distrib 8.4.6, for Win64 (x86_64)
--
-- Host: localhost    Database: macrosur_ecommerce
-- ------------------------------------------------------
-- Server version	8.4.6

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `alarmas_stock`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `alarmas_stock` (
  `alarma_stock_id` int NOT NULL AUTO_INCREMENT,
  `inventario_id` int NOT NULL,
  `tipo_alarma` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `resuelta` tinyint(1) DEFAULT '0',
  `fecha_resolucion` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`alarma_stock_id`),
  KEY `inventario_id` (`inventario_id`),
  CONSTRAINT `alarmas_stock_ibfk_1` FOREIGN KEY (`inventario_id`) REFERENCES `inventario` (`inventario_id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alarmas_stock`
--

LOCK TABLES `alarmas_stock` WRITE;
/*!40000 ALTER TABLE `alarmas_stock` DISABLE KEYS */;
INSERT INTO `alarmas_stock` VALUES (1,6,'STOCK_CERO','2025-11-28 22:24:47',1,'2025-11-29 20:22:15'),(2,4,'STOCK_BAJO','2025-11-28 22:24:47',1,'2025-11-30 21:10:11'),(3,8,'STOCK_BAJO','2025-11-28 22:24:47',1,'2025-11-30 22:52:24'),(4,6,'STOCK_CERO','2025-11-30 00:37:17',1,'2025-11-30 22:44:33'),(5,29,'STOCK_BAJO','2025-11-30 23:00:00',0,NULL),(6,30,'STOCK_BAJO','2025-11-30 23:00:00',1,'2025-11-30 23:07:44'),(7,32,'STOCK_BAJO','2025-11-30 23:00:00',1,'2025-11-30 23:09:57');
/*!40000 ALTER TABLE `alarmas_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `atributos`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `atributos` (
  `atributo_id` int NOT NULL AUTO_INCREMENT,
  `nombre_atributo` varchar(100) NOT NULL,
  PRIMARY KEY (`atributo_id`),
  UNIQUE KEY `nombre_atributo` (`nombre_atributo`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `atributos`
--

LOCK TABLES `atributos` WRITE;
/*!40000 ALTER TABLE `atributos` DISABLE KEYS */;
/*!40000 ALTER TABLE `atributos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `categorias`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categorias` (
  `categoria_id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `descripcion` text,
  `categoria_padre_id` int DEFAULT NULL,
  `visible_cliente` tinyint(1) DEFAULT '1',
  `activo` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'Indica si la categor├¡a est├í activa (1) o eliminada l├│gicamente (0)',
  PRIMARY KEY (`categoria_id`),
  UNIQUE KEY `nombre` (`nombre`),
  KEY `categoria_padre_id` (`categoria_padre_id`),
  KEY `idx_categorias_activo` (`activo`),
  CONSTRAINT `categorias_ibfk_1` FOREIGN KEY (`categoria_padre_id`) REFERENCES `categorias` (`categoria_id`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `categorias`
--

LOCK TABLES `categorias` WRITE;
/*!40000 ALTER TABLE `categorias` DISABLE KEYS */;
INSERT INTO `categorias` VALUES (5,'zapatos','',NULL,1,1),(6,'Alfombras y tapetes','Alfombras decorativas y tapetes funcionales',NULL,1,1),(7,'Almohadas y cojines','Cojines decorativos y almohadas',NULL,1,1),(8,'Cocina, comedor y bar','Art├¡culos para cocina, comedor y bar',NULL,1,1),(9,'Cortinas','Cortinas y accesorios para ventanas',NULL,1,1),(10,'Cuadros y Espejos','Decoraci├│n de paredes con cuadros y espejos',NULL,1,1);
/*!40000 ALTER TABLE `categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientes` (
  `cliente_id` bigint NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `correo` varchar(150) NOT NULL,
  `contrasena_hash` varchar(255) DEFAULT NULL COMMENT 'Hash de contrase├▒a (NULL para usuarios OAuth)',
  `telefono` varchar(20) DEFAULT NULL,
  `fecha_registro` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `oauth_provider` varchar(50) DEFAULT NULL COMMENT 'Proveedor OAuth: google, microsoft, null para manual',
  `oauth_id` varchar(255) DEFAULT NULL COMMENT 'ID ├║nico del usuario en el proveedor OAuth',
  `avatar_url` varchar(500) DEFAULT NULL COMMENT 'URL de la imagen de perfil del usuario',
  PRIMARY KEY (`cliente_id`),
  UNIQUE KEY `correo` (`correo`),
  KEY `idx_clientes_oauth` (`oauth_provider`,`oauth_id`)
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='Tabla de clientes con soporte para registro manual y OAuth2 (Google, Microsoft)';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes`
--

LOCK TABLES `clientes` WRITE;
/*!40000 ALTER TABLE `clientes` DISABLE KEYS */;
INSERT INTO `clientes` VALUES (6,'juan','perez','ejemplo@correo.com','$2a$10$TK.k5KCvD.0Pg7bibCRHiujGuN90s54CJKw.Cx9ggmsaTaGrx1Uhm','987654321','2025-11-27 09:00:52',NULL,NULL,NULL);
/*!40000 ALTER TABLE `clientes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `contenido_informativo`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `contenido_informativo` (
  `contenido_id` int NOT NULL AUTO_INCREMENT,
  `clave_unica` varchar(50) NOT NULL,
  `titulo` varchar(255) NOT NULL,
  `contenido_html` text NOT NULL,
  `ultima_modificacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`contenido_id`),
  UNIQUE KEY `clave_unica` (`clave_unica`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `contenido_informativo`
--

LOCK TABLES `contenido_informativo` WRITE;
/*!40000 ALTER TABLE `contenido_informativo` DISABLE KEYS */;
/*!40000 ALTER TABLE `contenido_informativo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_orden_reposicion`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_orden_reposicion` (
  `detalle_orden_id` int NOT NULL AUTO_INCREMENT,
  `orden_reposicion_id` int NOT NULL,
  `variante_id` int NOT NULL,
  `cantidad_pedida` int NOT NULL,
  `costo_unitario` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`detalle_orden_id`),
  KEY `orden_reposicion_id` (`orden_reposicion_id`),
  KEY `variante_id` (`variante_id`),
  CONSTRAINT `detalle_orden_reposicion_ibfk_1` FOREIGN KEY (`orden_reposicion_id`) REFERENCES `ordenes_reposicion` (`orden_reposicion_id`),
  CONSTRAINT `detalle_orden_reposicion_ibfk_2` FOREIGN KEY (`variante_id`) REFERENCES `variantes_producto` (`variante_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_orden_reposicion`
--

LOCK TABLES `detalle_orden_reposicion` WRITE;
/*!40000 ALTER TABLE `detalle_orden_reposicion` DISABLE KEYS */;
/*!40000 ALTER TABLE `detalle_orden_reposicion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalle_pedido`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalle_pedido` (
  `detalle_pedido_id` bigint NOT NULL AUTO_INCREMENT,
  `pedido_id` bigint NOT NULL,
  `variante_id` int NOT NULL,
  `precio_unitario` decimal(10,2) NOT NULL,
  `cantidad` int NOT NULL,
  `descuento_aplicado` decimal(10,2) DEFAULT '0.00',
  `subtotal` decimal(10,2) NOT NULL,
  `ubicacion_stock_origen` int DEFAULT NULL,
  PRIMARY KEY (`detalle_pedido_id`),
  KEY `pedido_id` (`pedido_id`),
  KEY `variante_id` (`variante_id`),
  KEY `ubicacion_stock_origen` (`ubicacion_stock_origen`),
  CONSTRAINT `detalle_pedido_ibfk_1` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`pedido_id`),
  CONSTRAINT `detalle_pedido_ibfk_2` FOREIGN KEY (`variante_id`) REFERENCES `variantes_producto` (`variante_id`),
  CONSTRAINT `detalle_pedido_ibfk_3` FOREIGN KEY (`ubicacion_stock_origen`) REFERENCES `ubicaciones_inventario` (`ubicacion_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalle_pedido`
--

LOCK TABLES `detalle_pedido` WRITE;
/*!40000 ALTER TABLE `detalle_pedido` DISABLE KEYS */;
INSERT INTO `detalle_pedido` VALUES (15,12,27,1299.00,1,0.00,1299.00,5),(16,13,26,1299.00,1,0.00,1299.00,1);
/*!40000 ALTER TABLE `detalle_pedido` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `detalles_orden_reposicion`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `detalles_orden_reposicion` (
  `detalle_orden_reposicion_id` int NOT NULL AUTO_INCREMENT,
  `orden_reposicion_id` int NOT NULL,
  `variante_producto_id` int NOT NULL,
  `cantidad_solicitada` int NOT NULL,
  `cantidad_recibida` int DEFAULT '0',
  `precio_unitario` decimal(10,2) NOT NULL,
  PRIMARY KEY (`detalle_orden_reposicion_id`),
  KEY `orden_reposicion_id` (`orden_reposicion_id`),
  KEY `variante_producto_id` (`variante_producto_id`),
  CONSTRAINT `detalles_orden_reposicion_ibfk_1` FOREIGN KEY (`orden_reposicion_id`) REFERENCES `ordenes_reposicion` (`orden_reposicion_id`) ON DELETE CASCADE,
  CONSTRAINT `detalles_orden_reposicion_ibfk_2` FOREIGN KEY (`variante_producto_id`) REFERENCES `variantes_producto` (`variante_id`)
) ENGINE=InnoDB AUTO_INCREMENT=18 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `detalles_orden_reposicion`
--

LOCK TABLES `detalles_orden_reposicion` WRITE;
/*!40000 ALTER TABLE `detalles_orden_reposicion` DISABLE KEYS */;
INSERT INTO `detalles_orden_reposicion` VALUES (1,2,25,20,0,320.00),(2,3,27,10,0,450.00),(3,4,25,20,0,320.00),(4,5,27,10,0,450.00),(5,6,25,20,NULL,899.99),(6,6,27,10,NULL,1299.00),(7,6,29,16,NULL,599.00),(8,7,14,10,10,29.99),(9,8,25,17,17,899.99),(10,9,27,10,10,1299.00),(11,10,10,10,10,299.99),(12,11,29,12,12,599.00),(13,12,27,15,15,1299.00),(14,13,12,10,10,199.99),(15,14,29,16,16,599.00),(16,15,25,30,NULL,899.99),(17,16,25,30,NULL,899.99);
/*!40000 ALTER TABLE `detalles_orden_reposicion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `direcciones`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `direcciones` (
  `direccion_id` int NOT NULL AUTO_INCREMENT,
  `cliente_id` bigint NOT NULL,
  `alias` varchar(50) DEFAULT NULL,
  `calle` varchar(255) NOT NULL,
  `numero` varchar(20) DEFAULT NULL,
  `ciudad` varchar(100) NOT NULL,
  `departamento` varchar(100) NOT NULL,
  `codigo_postal` varchar(20) DEFAULT NULL,
  `es_principal` tinyint(1) DEFAULT '0',
  PRIMARY KEY (`direccion_id`),
  KEY `cliente_id` (`cliente_id`),
  CONSTRAINT `direcciones_ibfk_1` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`cliente_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `direcciones`
--

LOCK TABLES `direcciones` WRITE;
/*!40000 ALTER TABLE `direcciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `direcciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `flyway_schema_history`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `flyway_schema_history` (
  `installed_rank` int NOT NULL,
  `version` varchar(50) DEFAULT NULL,
  `description` varchar(200) NOT NULL,
  `type` varchar(20) NOT NULL,
  `script` varchar(1000) NOT NULL,
  `checksum` int DEFAULT NULL,
  `installed_by` varchar(100) NOT NULL,
  `installed_on` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `execution_time` int NOT NULL,
  `success` tinyint(1) NOT NULL,
  PRIMARY KEY (`installed_rank`),
  KEY `flyway_schema_history_s_idx` (`success`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `flyway_schema_history`
--

LOCK TABLES `flyway_schema_history` WRITE;
/*!40000 ALTER TABLE `flyway_schema_history` DISABLE KEYS */;
/*!40000 ALTER TABLE `flyway_schema_history` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventario`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventario` (
  `inventario_id` int NOT NULL AUTO_INCREMENT,
  `variante_id` int NOT NULL,
  `ubicacion_id` int NOT NULL,
  `cantidad` int DEFAULT '0',
  `stock_minimo_seguridad` int DEFAULT '0',
  `ultima_actualizacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`inventario_id`),
  UNIQUE KEY `unique_variante_ubicacion` (`variante_id`,`ubicacion_id`),
  KEY `ubicacion_id` (`ubicacion_id`),
  CONSTRAINT `inventario_ibfk_1` FOREIGN KEY (`variante_id`) REFERENCES `variantes_producto` (`variante_id`),
  CONSTRAINT `inventario_ibfk_2` FOREIGN KEY (`ubicacion_id`) REFERENCES `ubicaciones_inventario` (`ubicacion_id`)
) ENGINE=InnoDB AUTO_INCREMENT=34 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventario`
--

LOCK TABLES `inventario` WRITE;
/*!40000 ALTER TABLE `inventario` DISABLE KEYS */;
INSERT INTO `inventario` VALUES (3,24,1,15,5,'2025-11-29 17:22:03'),(4,25,1,10,10,'2025-11-30 21:10:11'),(5,26,1,7,5,'2025-12-01 08:24:56'),(6,27,1,10,5,'2025-11-30 23:04:36'),(7,28,1,20,10,'2025-11-28 22:24:47'),(8,29,1,13,8,'2025-11-30 23:09:56'),(9,30,1,6,3,'2025-11-28 22:24:47'),(10,31,1,12,5,'2025-11-28 22:24:47'),(28,14,1,10,10,'2025-11-30 20:42:33'),(29,25,5,10,20,'2025-11-30 21:10:11'),(30,27,5,14,10,'2025-12-01 08:23:02'),(31,10,1,10,10,'2025-11-30 22:51:50'),(32,29,5,19,16,'2025-11-30 23:09:56'),(33,12,1,10,10,'2025-11-30 23:05:26');
/*!40000 ALTER TABLE `inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `metodos_pago_cliente`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `metodos_pago_cliente` (
  `metodo_pago_id` int NOT NULL AUTO_INCREMENT,
  `cliente_id` bigint NOT NULL,
  `token_pago` varchar(255) NOT NULL,
  `ultimos_digitos` varchar(4) DEFAULT NULL,
  `tipo_tarjeta` varchar(20) DEFAULT NULL,
  PRIMARY KEY (`metodo_pago_id`),
  KEY `cliente_id` (`cliente_id`),
  CONSTRAINT `metodos_pago_cliente_ibfk_1` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`cliente_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `metodos_pago_cliente`
--

LOCK TABLES `metodos_pago_cliente` WRITE;
/*!40000 ALTER TABLE `metodos_pago_cliente` DISABLE KEYS */;
/*!40000 ALTER TABLE `metodos_pago_cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `movimientos_stock`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `movimientos_stock` (
  `movimiento_stock_id` int NOT NULL AUTO_INCREMENT,
  `inventario_id` int NOT NULL,
  `tipo_movimiento` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `cantidad` int NOT NULL,
  `motivo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `pedido_id` bigint DEFAULT NULL,
  `fecha_movimiento` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`movimiento_stock_id`),
  KEY `inventario_id` (`inventario_id`),
  KEY `pedido_id` (`pedido_id`),
  CONSTRAINT `movimientos_stock_ibfk_1` FOREIGN KEY (`inventario_id`) REFERENCES `inventario` (`inventario_id`),
  CONSTRAINT `movimientos_stock_ibfk_2` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`pedido_id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `movimientos_stock`
--

LOCK TABLES `movimientos_stock` WRITE;
/*!40000 ALTER TABLE `movimientos_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `movimientos_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `operadores_logisticos`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `operadores_logisticos` (
  `operador_id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `url_rastreo_base` varchar(255) NOT NULL,
  PRIMARY KEY (`operador_id`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `operadores_logisticos`
--

LOCK TABLES `operadores_logisticos` WRITE;
/*!40000 ALTER TABLE `operadores_logisticos` DISABLE KEYS */;
INSERT INTO `operadores_logisticos` VALUES (1,'chilexpress','https://www.chilexpress.cl/Seguimiento?='),(2,'correos_chile','https://www.correos.cl/SitePages/seguimiento/seguimiento.aspx?envio='),(25,'starken','https://www.starken.cl/seguimiento?codigo='),(26,'bluexpress','https://www.bluex.cl/seguimiento?numero='),(27,'otro','https://ejemplo.com/seguimiento?numero=');
/*!40000 ALTER TABLE `operadores_logisticos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ordenes_reposicion`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ordenes_reposicion` (
  `orden_reposicion_id` int NOT NULL AUTO_INCREMENT,
  `proveedor_id` int NOT NULL,
  `fecha_solicitud` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_autorizacion` timestamp NULL DEFAULT NULL,
  `usuario_admin_id_autoriza` int DEFAULT NULL,
  `estado_autorizacion` varchar(20) COLLATE utf8mb4_unicode_ci DEFAULT 'PENDIENTE',
  `costo_total` decimal(10,2) DEFAULT '0.00',
  `fecha_recepcion` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`orden_reposicion_id`),
  KEY `proveedor_id` (`proveedor_id`),
  KEY `usuario_admin_id_autoriza` (`usuario_admin_id_autoriza`),
  CONSTRAINT `ordenes_reposicion_ibfk_1` FOREIGN KEY (`proveedor_id`) REFERENCES `proveedores` (`proveedor_id`),
  CONSTRAINT `ordenes_reposicion_ibfk_2` FOREIGN KEY (`usuario_admin_id_autoriza`) REFERENCES `usuarios_admin` (`usuario_admin_id`)
) ENGINE=InnoDB AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ordenes_reposicion`
--

LOCK TABLES `ordenes_reposicion` WRITE;
/*!40000 ALTER TABLE `ordenes_reposicion` DISABLE KEYS */;
/*!40000 ALTER TABLE `ordenes_reposicion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pedidos`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `pedidos` (
  `pedido_id` bigint NOT NULL AUTO_INCREMENT,
  `cliente_id` bigint NOT NULL,
  `fecha_pedido` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `estado` enum('Pendiente Pago','Pagado','En Preparacion','Despachado','Entregado','Cancelado') NOT NULL,
  `total_neto` decimal(10,2) NOT NULL,
  `total_impuestos` decimal(10,2) NOT NULL,
  `total_envio` decimal(10,2) NOT NULL,
  `total_descuento` decimal(10,2) DEFAULT '0.00',
  `total_final` decimal(10,2) NOT NULL,
  `metodo_entrega` enum('Domicilio','Retiro en Tienda') NOT NULL,
  `direccion_envio_id` int DEFAULT NULL,
  `ubicacion_retiro_id` int DEFAULT NULL,
  PRIMARY KEY (`pedido_id`),
  KEY `cliente_id` (`cliente_id`),
  KEY `direccion_envio_id` (`direccion_envio_id`),
  KEY `ubicacion_retiro_id` (`ubicacion_retiro_id`),
  CONSTRAINT `pedidos_ibfk_1` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`cliente_id`),
  CONSTRAINT `pedidos_ibfk_2` FOREIGN KEY (`direccion_envio_id`) REFERENCES `direcciones` (`direccion_id`),
  CONSTRAINT `pedidos_ibfk_3` FOREIGN KEY (`ubicacion_retiro_id`) REFERENCES `ubicaciones_inventario` (`ubicacion_id`)
) ENGINE=InnoDB AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pedidos`
--

LOCK TABLES `pedidos` WRITE;
/*!40000 ALTER TABLE `pedidos` DISABLE KEYS */;
INSERT INTO `pedidos` VALUES (12,6,'2025-12-01 08:23:03','En Preparacion',1299.00,246.81,0.00,0.00,1545.81,'Retiro en Tienda',NULL,4),(13,6,'2025-12-01 08:24:57','En Preparacion',1299.00,246.81,5000.00,0.00,6545.81,'Domicilio',NULL,NULL);
/*!40000 ALTER TABLE `pedidos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `permisos`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `permisos` (
  `permiso_id` int NOT NULL AUTO_INCREMENT,
  `nombre_permiso` varchar(100) NOT NULL,
  PRIMARY KEY (`permiso_id`),
  UNIQUE KEY `nombre_permiso` (`nombre_permiso`)
) ENGINE=InnoDB AUTO_INCREMENT=86 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `permisos`
--

LOCK TABLES `permisos` WRITE;
/*!40000 ALTER TABLE `permisos` DISABLE KEYS */;
/*!40000 ALTER TABLE `permisos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `producto_categoria`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `producto_categoria` (
  `producto_id` int NOT NULL,
  `categoria_id` int NOT NULL,
  PRIMARY KEY (`producto_id`,`categoria_id`),
  KEY `categoria_id` (`categoria_id`),
  CONSTRAINT `producto_categoria_ibfk_1` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`),
  CONSTRAINT `producto_categoria_ibfk_2` FOREIGN KEY (`categoria_id`) REFERENCES `categorias` (`categoria_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `producto_categoria`
--

LOCK TABLES `producto_categoria` WRITE;
/*!40000 ALTER TABLE `producto_categoria` DISABLE KEYS */;
INSERT INTO `producto_categoria` VALUES (9,5),(10,6),(11,6),(12,6),(13,6),(14,7),(15,7),(16,7),(17,7),(18,8),(19,8),(20,8),(21,8),(22,9),(23,9),(24,9),(25,9),(30,9),(26,10),(27,10),(28,10),(29,10);
/*!40000 ALTER TABLE `producto_categoria` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `productos`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `productos` (
  `producto_id` int NOT NULL AUTO_INCREMENT,
  `codigo_producto` varchar(50) DEFAULT NULL,
  `nombre_producto` varchar(255) NOT NULL,
  `descripcion_corta` varchar(500) DEFAULT NULL,
  `ficha_tecnica_html` text,
  `precio_unitario` decimal(10,2) DEFAULT '0.00',
  `peso_kg` decimal(8,2) NOT NULL,
  `volumen_m3` decimal(8,4) DEFAULT NULL,
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `destacado` tinyint(1) DEFAULT '0' COMMENT 'Indica si el producto aparece destacado en la p├ígina principal',
  `activo` tinyint(1) NOT NULL DEFAULT '1' COMMENT 'Indica si el producto est├í activo (1) o eliminado l├│gicamente (0)',
  `imagen_url` varchar(500) DEFAULT NULL COMMENT 'URL de la imagen principal del producto',
  `imagen_tipo` enum('url','local','unsplash','other') DEFAULT 'url' COMMENT 'Tipo de origen de la imagen: url=externa manual, local=archivo subido, unsplash=biblioteca online',
  PRIMARY KEY (`producto_id`),
  UNIQUE KEY `codigo_producto` (`codigo_producto`),
  KEY `idx_destacado` (`destacado`),
  KEY `idx_productos_activo` (`activo`),
  KEY `idx_productos_imagen_tipo` (`imagen_tipo`)
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `productos`
--

LOCK TABLES `productos` WRITE;
/*!40000 ALTER TABLE `productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `proveedores`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `proveedores` (
  `proveedor_id` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contacto` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `telefono` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  PRIMARY KEY (`proveedor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=15 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `proveedores`
--

LOCK TABLES `proveedores` WRITE;
/*!40000 ALTER TABLE `proveedores` DISABLE KEYS */;
INSERT INTO `proveedores` VALUES (1,'Proveedor General (Por Defecto)','Ventas Generales','+51 987654320'),(6,'Textiles y Alfombras Premium','Juan P??rez - Gerente de Ventas','+51 987654321'),(7,'Muebles y Decoraci??n Hogar','Mar??a Gonz??lez - Atenci??n al Cliente','+51 987654322'),(8,'Cocina y Menaje del Hogar','Carlos Rodr??guez - Ventas','+51 987654323');
/*!40000 ALTER TABLE `proveedores` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reclamaciones`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reclamaciones` (
  `reclamo_id` int NOT NULL AUTO_INCREMENT,
  `cliente_id` bigint NOT NULL,
  `pedido_id` bigint DEFAULT NULL,
  `tipo_documento` enum('Boleta','Factura') DEFAULT NULL,
  `numero_documento` varchar(50) DEFAULT NULL,
  `tipo_reclamo` enum('Producto Defectuoso','Servicio','Despacho','Otros') NOT NULL,
  `detalle_reclamo` text NOT NULL,
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `estado` enum('Pendiente','En Proceso','Resuelto') DEFAULT 'Pendiente',
  PRIMARY KEY (`reclamo_id`),
  KEY `cliente_id` (`cliente_id`),
  CONSTRAINT `reclamaciones_ibfk_1` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`cliente_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reclamaciones`
--

LOCK TABLES `reclamaciones` WRITE;
/*!40000 ALTER TABLE `reclamaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `reclamaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reglas_descuento`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reglas_descuento` (
  `regla_id` int NOT NULL AUTO_INCREMENT,
  `nombre_regla` varchar(100) NOT NULL,
  `tipo_descuento` enum('Porcentaje','Monto_Fijo','Dos_X_Uno','Envio_Gratis') NOT NULL,
  `valor_descuento` decimal(10,2) NOT NULL,
  `acumulable` tinyint(1) DEFAULT '1',
  `exclusivo` tinyint(1) DEFAULT '0',
  `fecha_inicio` timestamp NULL DEFAULT NULL,
  `fecha_fin` timestamp NULL DEFAULT NULL,
  `segmentacion_json` json DEFAULT NULL,
  PRIMARY KEY (`regla_id`)
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reglas_descuento`
--

LOCK TABLES `reglas_descuento` WRITE;
/*!40000 ALTER TABLE `reglas_descuento` DISABLE KEYS */;
INSERT INTO `reglas_descuento` VALUES (3,'Black Friday','Porcentaje',20.00,1,0,'2025-12-01 14:47:00','2025-12-08 14:47:00',NULL),(4,'Cyber Monday','Porcentaje',30.00,1,0,'2025-12-01 14:47:00','2025-12-08 14:48:00',NULL);
/*!40000 ALTER TABLE `reglas_descuento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `resenas`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `resenas` (
  `resena_id` bigint NOT NULL AUTO_INCREMENT,
  `cliente_id` bigint NOT NULL,
  `producto_id` int NOT NULL,
  `calificacion` tinyint NOT NULL,
  `comentario` text,
  `fecha_resena` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `estado_resena` enum('Pendiente','Aprobada','Rechazada') DEFAULT 'Pendiente',
  `fecha_compra_verificada` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`resena_id`),
  KEY `cliente_id` (`cliente_id`),
  KEY `producto_id` (`producto_id`),
  CONSTRAINT `resenas_ibfk_1` FOREIGN KEY (`cliente_id`) REFERENCES `clientes` (`cliente_id`),
  CONSTRAINT `resenas_ibfk_2` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`),
  CONSTRAINT `resenas_chk_1` CHECK ((`calificacion` between 1 and 5))
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `resenas`
--

LOCK TABLES `resenas` WRITE;
/*!40000 ALTER TABLE `resenas` DISABLE KEYS */;
INSERT INTO `resenas` VALUES (1,6,10,5,'','2025-11-27 09:19:20','Aprobada',NULL),(2,6,12,5,'','2025-12-01 15:15:53','Pendiente',NULL);
/*!40000 ALTER TABLE `resenas` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol_permiso`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rol_permiso` (
  `rol_id` int NOT NULL,
  `permiso_id` int NOT NULL,
  PRIMARY KEY (`rol_id`,`permiso_id`),
  KEY `permiso_id` (`permiso_id`),
  CONSTRAINT `rol_permiso_ibfk_1` FOREIGN KEY (`rol_id`) REFERENCES `roles` (`rol_id`),
  CONSTRAINT `rol_permiso_ibfk_2` FOREIGN KEY (`permiso_id`) REFERENCES `permisos` (`permiso_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol_permiso`
--

LOCK TABLES `rol_permiso` WRITE;
/*!40000 ALTER TABLE `rol_permiso` DISABLE KEYS */;
INSERT INTO `rol_permiso` VALUES (1,1),(3,1),(1,2),(4,2),(1,3),(2,3),(1,4),(1,5),(3,5),(1,6),(3,6),(1,7),(3,7),(1,8),(3,8),(1,9),(3,9),(1,10),(3,10),(1,11),(3,11),(1,12),(3,12),(1,13),(3,13),(1,14),(2,14),(1,15),(2,15),(1,16),(2,16),(1,17),(2,17),(1,18),(4,18),(1,19),(4,19),(1,20),(4,20),(1,21),(4,21),(1,22),(4,22),(1,23),(4,23),(1,24),(1,25),(1,26),(3,26),(1,27),(2,27),(1,28),(4,28),(1,29),(1,30),(5,30),(1,31),(5,31),(1,32),(1,33),(5,33),(1,34),(5,34),(1,35),(5,35),(1,36),(5,36);
/*!40000 ALTER TABLE `rol_permiso` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `roles`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `roles` (
  `rol_id` int NOT NULL AUTO_INCREMENT,
  `nombre_rol` varchar(50) NOT NULL,
  PRIMARY KEY (`rol_id`),
  UNIQUE KEY `nombre_rol` (`nombre_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `roles`
--

LOCK TABLES `roles` WRITE;
/*!40000 ALTER TABLE `roles` DISABLE KEYS */;
INSERT INTO `roles` VALUES (1,'ADMIN'),(5,'Gestor Log├¡stica'),(4,'GESTOR_COMERCIAL'),(2,'GESTOR_LOGISTICA'),(3,'GESTOR_PRODUCTOS');
/*!40000 ALTER TABLE `roles` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguimiento_despacho`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seguimiento_despacho` (
  `seguimiento_id` bigint NOT NULL AUTO_INCREMENT,
  `pedido_id` bigint NOT NULL,
  `operador_id` int NOT NULL,
  `numero_guia` varchar(100) NOT NULL,
  `fecha_asignacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`seguimiento_id`),
  UNIQUE KEY `pedido_id` (`pedido_id`),
  KEY `operador_id` (`operador_id`),
  CONSTRAINT `seguimiento_despacho_ibfk_1` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`pedido_id`),
  CONSTRAINT `seguimiento_despacho_ibfk_2` FOREIGN KEY (`operador_id`) REFERENCES `operadores_logisticos` (`operador_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguimiento_despacho`
--

LOCK TABLES `seguimiento_despacho` WRITE;
/*!40000 ALTER TABLE `seguimiento_despacho` DISABLE KEYS */;
/*!40000 ALTER TABLE `seguimiento_despacho` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `seguimientos_despacho`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `seguimientos_despacho` (
  `seguimiento_despacho_id` int NOT NULL AUTO_INCREMENT,
  `pedido_id` bigint NOT NULL,
  `operador_id` int NOT NULL,
  `numero_guia` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `estado_envio` varchar(50) COLLATE utf8mb4_unicode_ci DEFAULT 'EN_CAMINO',
  `fecha_despacho` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `fecha_estimada_entrega` date DEFAULT NULL,
  `fecha_entrega` timestamp NULL DEFAULT NULL,
  PRIMARY KEY (`seguimiento_despacho_id`),
  KEY `pedido_id` (`pedido_id`),
  KEY `operador_id` (`operador_id`),
  CONSTRAINT `seguimientos_despacho_ibfk_1` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`pedido_id`),
  CONSTRAINT `seguimientos_despacho_ibfk_2` FOREIGN KEY (`operador_id`) REFERENCES `operadores_logisticos` (`operador_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `seguimientos_despacho`
--

LOCK TABLES `seguimientos_despacho` WRITE;
/*!40000 ALTER TABLE `seguimientos_despacho` DISABLE KEYS */;
INSERT INTO `seguimientos_despacho` VALUES (1,13,1,'12345678','ENTREGADO','2025-12-01 09:54:58',NULL,'2025-12-01 10:07:00'),(2,12,25,'123','EN_CAMINO','2025-12-01 10:04:00',NULL,NULL);
/*!40000 ALTER TABLE `seguimientos_despacho` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transacciones_pago`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transacciones_pago` (
  `transaccion_id` bigint NOT NULL AUTO_INCREMENT,
  `pedido_id` bigint NOT NULL,
  `referencia_pasarela` varchar(255) NOT NULL,
  `metodo_pago` varchar(50) NOT NULL,
  `monto` decimal(10,2) NOT NULL,
  `fecha_transaccion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  `estado` enum('Aprobado','Rechazado','Pendiente') NOT NULL,
  PRIMARY KEY (`transaccion_id`),
  KEY `pedido_id` (`pedido_id`),
  CONSTRAINT `transacciones_pago_ibfk_1` FOREIGN KEY (`pedido_id`) REFERENCES `pedidos` (`pedido_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transacciones_pago`
--

LOCK TABLES `transacciones_pago` WRITE;
/*!40000 ALTER TABLE `transacciones_pago` DISABLE KEYS */;
/*!40000 ALTER TABLE `transacciones_pago` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `ubicaciones_inventario`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `ubicaciones_inventario` (
  `ubicacion_id` int NOT NULL AUTO_INCREMENT,
  `nombre_ubicacion` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `tipo_ubicacion` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `direccion` text COLLATE utf8mb4_unicode_ci,
  `es_fisica` tinyint(1) DEFAULT '1',
  `proveedor_id` int DEFAULT NULL,
  PRIMARY KEY (`ubicacion_id`),
  KEY `proveedor_id` (`proveedor_id`),
  CONSTRAINT `ubicaciones_inventario_ibfk_1` FOREIGN KEY (`proveedor_id`) REFERENCES `proveedores` (`proveedor_id`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ubicaciones_inventario`
--

LOCK TABLES `ubicaciones_inventario` WRITE;
/*!40000 ALTER TABLE `ubicaciones_inventario` DISABLE KEYS */;
INSERT INTO `ubicaciones_inventario` VALUES (1,'Tienda F??sica Macrosur','TIENDA','Av. Principal 123, Santiago Centro',1,NULL),(3,'Almac??n Central','ALMACEN','Bodega Central, Ruta 5 Sur Km 12',1,NULL),(4,'Tienda F??sica MacroSur','TIENDA_FISICA','Av. Principal 123, Lima, Per??',1,NULL),(5,'Almac??n Central','ALMACEN_CENTRAL','Zona Industrial Norte, Callao, Per??',0,NULL);
/*!40000 ALTER TABLE `ubicaciones_inventario` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuarios_admin`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuarios_admin` (
  `usuario_admin_id` int NOT NULL AUTO_INCREMENT,
  `rol_id` int NOT NULL,
  `nombre` varchar(100) NOT NULL,
  `apellido` varchar(100) NOT NULL,
  `correo_corporativo` varchar(150) NOT NULL,
  `contrasena_hash` varchar(255) NOT NULL,
  `activo` tinyint(1) DEFAULT '1',
  `fecha_creacion` timestamp NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`usuario_admin_id`),
  UNIQUE KEY `correo_corporativo` (`correo_corporativo`),
  KEY `rol_id` (`rol_id`),
  CONSTRAINT `usuarios_admin_ibfk_1` FOREIGN KEY (`rol_id`) REFERENCES `roles` (`rol_id`),
  CONSTRAINT `usuarios_admin_chk_1` CHECK ((`correo_corporativo` like _utf8mb4'%@macrosur.com'))
) ENGINE=InnoDB AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuarios_admin`
--

LOCK TABLES `usuarios_admin` WRITE;
/*!40000 ALTER TABLE `usuarios_admin` DISABLE KEYS */;
INSERT INTO `usuarios_admin` VALUES (1,1,'Admin','Macrosur','admin@macrosur.com','$2a$10$06uLSINbNj067mJWckEjPuIAU7ajP0ocqL3WRqFs0ND5.aYw523yO',1,'2025-10-14 09:04:38'),(2,2,'Carlos','Logistics','carlos.logistics@macrosur.com','$2a$10$06uLSINbNj067mJWckEjPuIAU7ajP0ocqL3WRqFs0ND5.aYw523yO',1,'2025-10-14 09:04:38'),(3,3,'Maria','Products','maria.products@macrosur.com','$2a$10$06uLSINbNj067mJWckEjPuIAU7ajP0ocqL3WRqFs0ND5.aYw523yO',1,'2025-10-14 09:04:38'),(4,4,'Juan','Sales','juan.sales@macrosur.com','$2a$10$06uLSINbNj067mJWckEjPuIAU7ajP0ocqL3WRqFs0ND5.aYw523yO',1,'2025-10-14 09:04:38');
/*!40000 ALTER TABLE `usuarios_admin` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `valores_atributo`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `valores_atributo` (
  `valor_id` int NOT NULL AUTO_INCREMENT,
  `atributo_id` int NOT NULL,
  `valor` varchar(100) NOT NULL,
  PRIMARY KEY (`valor_id`),
  KEY `atributo_id` (`atributo_id`),
  CONSTRAINT `valores_atributo_ibfk_1` FOREIGN KEY (`atributo_id`) REFERENCES `atributos` (`atributo_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `valores_atributo`
--

LOCK TABLES `valores_atributo` WRITE;
/*!40000 ALTER TABLE `valores_atributo` DISABLE KEYS */;
/*!40000 ALTER TABLE `valores_atributo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `variante_valor`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `variante_valor` (
  `variante_id` int NOT NULL,
  `valor_id` int NOT NULL,
  PRIMARY KEY (`variante_id`,`valor_id`),
  KEY `valor_id` (`valor_id`),
  CONSTRAINT `variante_valor_ibfk_1` FOREIGN KEY (`variante_id`) REFERENCES `variantes_producto` (`variante_id`),
  CONSTRAINT `variante_valor_ibfk_2` FOREIGN KEY (`valor_id`) REFERENCES `valores_atributo` (`valor_id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `variante_valor`
--

LOCK TABLES `variante_valor` WRITE;
/*!40000 ALTER TABLE `variante_valor` DISABLE KEYS */;
/*!40000 ALTER TABLE `variante_valor` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `variantes_producto`
--

/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `variantes_producto` (
  `variante_id` int NOT NULL AUTO_INCREMENT,
  `producto_id` int NOT NULL,
  `sku` varchar(50) NOT NULL,
  `precio_base` decimal(10,2) NOT NULL,
  `url_imagen_principal` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`variante_id`),
  UNIQUE KEY `sku` (`sku`),
  KEY `producto_id` (`producto_id`),
  CONSTRAINT `variantes_producto_ibfk_1` FOREIGN KEY (`producto_id`) REFERENCES `productos` (`producto_id`)
) ENGINE=InnoDB AUTO_INCREMENT=79 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `variantes_producto`
--

LOCK TABLES `variantes_producto` WRITE;
/*!40000 ALTER TABLE `variantes_producto` DISABLE KEYS */;
/*!40000 ALTER TABLE `variantes_producto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `vista_inventario`
--

SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_inventario` AS SELECT 
 1 AS `producto_id`,
 1 AS `codigo_producto`,
 1 AS `producto`,
 1 AS `stock_actual`,
 1 AS `stock_minimo`,
 1 AS `ubicacion`,
 1 AS `almacen_id`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `vista_ventas`
--

SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `vista_ventas` AS SELECT 
 1 AS `pedido_id`,
 1 AS `fecha`,
 1 AS `cliente_nombre`,
 1 AS `productos_descripcion`,
 1 AS `total`,
 1 AS `estado`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `vista_inventario`
--

/*!50001 DROP VIEW IF EXISTS `vista_inventario`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vista_inventario` AS select `p`.`producto_id` AS `producto_id`,`p`.`codigo_producto` AS `codigo_producto`,`p`.`nombre_producto` AS `producto`,coalesce(`i`.`cantidad`,0) AS `stock_actual`,coalesce(`i`.`stock_minimo_seguridad`,0) AS `stock_minimo`,coalesce(`ui`.`nombre_ubicacion`,'Sin ubicaci├│n') AS `ubicacion`,`ui`.`ubicacion_id` AS `almacen_id` from (((`productos` `p` left join `variantes_producto` `vp` on((`p`.`producto_id` = `vp`.`producto_id`))) left join `inventario` `i` on((`vp`.`variante_id` = `i`.`variante_id`))) left join `ubicaciones_inventario` `ui` on((`i`.`ubicacion_id` = `ui`.`ubicacion_id`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `vista_ventas`
--

/*!50001 DROP VIEW IF EXISTS `vista_ventas`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_0900_ai_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `vista_ventas` AS select `p`.`pedido_id` AS `pedido_id`,cast(`p`.`fecha_pedido` as date) AS `fecha`,concat(coalesce(`c`.`nombre`,'Cliente'),' ',coalesce(`c`.`apellido`,'An├│nimo')) AS `cliente_nombre`,group_concat(concat(coalesce(`prod`.`nombre_producto`,'Producto'),' (',`dp`.`cantidad`,')') separator ', ') AS `productos_descripcion`,`p`.`total_final` AS `total`,`p`.`estado` AS `estado` from ((((`pedidos` `p` left join `clientes` `c` on((`p`.`cliente_id` = `c`.`cliente_id`))) left join `detalle_pedido` `dp` on((`p`.`pedido_id` = `dp`.`pedido_id`))) left join `variantes_producto` `vp` on((`dp`.`variante_id` = `vp`.`variante_id`))) left join `productos` `prod` on((`vp`.`producto_id` = `prod`.`producto_id`))) group by `p`.`pedido_id`,`p`.`fecha_pedido`,`c`.`nombre`,`c`.`apellido`,`p`.`total_final`,`p`.`estado` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-01 11:39:25
